test
recover-prompt
monitor-single-token
similarity
steal-identity
make-exhaustive-prompt
get-prompt-memory-accesses
discover-token-addresses
make-token-map
get-representative-token
access_trace.txt

*.map

build
*.bin
*.log
*.log.zst
*.txt
.venv/
traces/